In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
nome = ''
saltos = []
posicaoSalto = ['Primeiro Salto:', 'Segundo Salto:', 'Terceiro Salto:', 'Quarto Salto:', 'Quinto Salto:']
soma_saltos = 0

nome = input('Informe seu nome: ')

#obter as distâncias
for salto in range(5):
  
  distancia = input(f'Informe a distância do salto {salto+1}: ')
  saltos.append(distancia)
  
print(f'Atleta: {nome}')

#imprimir os saltos
for salto in range(5): 
  print(f'{posicaoSalto[salto]} {saltos[salto]}')
  soma_saltos = soma_saltos + int(saltos[salto])

print(f'Média: {soma_saltos/len(saltos)}')

Informe seu nome: ga
Informe a distância do salto 1: 3
Informe a distância do salto 2: 3
Informe a distância do salto 3: 3
Informe a distância do salto 4: 3
Informe a distância do salto 5: 3
Atleta: ga
Primeiro Salto: 3
Segundo Salto: 3
Terceiro Salto: 3
Quarto Salto: 3
Quinto Salto: 3
Média: 3.0

In [ ]:
from random import randint

valores_dado = [0,0,0,0,0,0]

for joga_dado in range(100):
  jogada = randint(0,5)
  valores_dado[jogada] += 1

for mostra in range(6):
  print(f'O dado caiu {valores_dado[mostra]} vezes na posição {mostra+1}' )

O dado caiu 9 vezes na posição 1
O dado caiu 21 vezes na posição 2
O dado caiu 19 vezes na posição 3
O dado caiu 24 vezes na posição 4
O dado caiu 12 vezes na posição 5
O dado caiu 15 vezes na posição 6

In [ ]:
nome = ''

nome = input('Informe seu nome: ')

for mostra in range(len(nome)):
  print(f'{nome[: mostra+1]}')

Informe seu nome: gabriel
g
ga
gab
gabr
gabri
gabrie
gabriel

In [ ]:
def soma(a, b, c):
  return a+b+c

a, b, c = input('Informe 3 valores: ').split()

a = int(a)
b = int(b)
c = int(c)

total = soma(a, b, c)
print(f'{total}')

Informe 3 valores: 3 2 1
6

In [ ]:
import pandas as pd

df = pd.read_fwf('/content/usuarios.txt', header=None, names=['Usuario', 'Espaço utilizado'])

def conversao(num):
    return round((num / (1024 * 1024)), 2)
espaco =df['Espaço utilizado'].sum()

df['% de uso'] = round((df['Espaço utilizado']* 100 /espaco),2)

df['Espaço utilizado'] = conversao(df['Espaço utilizado'])
print(df)

rsl = ('ACME Inc.            Uso do espaço em disco pelos usuário\n')
rsl += ('----------------------------------------------------------\n')
rsl += ('Nr. Usuário:      Espaço utilizado:       % de uso:\n')

x = 1
for index, line in df.iterrows():
    rsl += f'{x} {line["Usuario"]} \t {line["Espaço utilizado"]} MB \t {line["% de uso"]} %\n'
    x= x+1

rsl += '\n'
rsl += f'Espaco total ocupado: {conversao(espaco)} MB\n'
rsl += f'Espaco medio ocupado: {conversao(espaco/6)} MB\n'

with open('rsl.txt', 'w') as arquivo:
    arquivo.write(rsl)

     Usuario  Espaço utilizado  % de uso
0  alexandre            434.99     16.85
1   anderson           1187.99     46.02
2    antonio            117.74      4.56
3     carlos             87.03      3.37
4      cesar              0.94      0.04
5   rosemary            752.88     29.16